Repository SalesforceFoundation/PMM, changes with the owners that .github/CODEOWNERS names for each.
All owners: @SalesforceFoundation/release-engineering-reviewers, @AndersonTarren, @jessicahaas1, @smarovich

dependabot-fix
  package.json
  yarn.lock
Owners: none

rough WIP
  force-app/main/default/classes/ContactRollup_Tarren_Part1.cls
  force-app/main/default/classes/ContactRollup_Tarren_Part1.cls-meta.xml
  force-app/main/default/classes/ContactRollup_Tarren_Part2.cls
  force-app/main/default/classes/ContactRollup_Tarren_Part2.cls-meta.xml
Owners: none

added group service delivery tests
  robot/pmm/resources/BulkServiceDeliveryPageObject.py
  robot/pmm/resources/locators_51.py
  robot/pmm/tests/browser/Bulk_Service_Delivery/add_pe_on_BSDT.robot
  robot/pmm/tests/browser/Bulk_Service_Delivery/group_service_deliveries.robot
  robot/pmm/tests/browser/Bulk_Service_Delivery/group_service_delivery.robot
  robot/pmm/tests/browser/Bulk_Service_Delivery/individual_service_deliveries.robot
Owners: @SalesforceFoundation/release-engineering-reviewers

added group service delivery tests
  robot/pmm/resources/BulkServiceDeliveryPageObject.py
  robot/pmm/resources/locators_51.py
  robot/pmm/tests/browser/Bulk_Service_Delivery/add_pe_on_BSDT.robot
  robot/pmm/tests/browser/Bulk_Service_Delivery/group_service_delivery.robot
  robot/pmm/tests/browser/Bulk_Service_Delivery/individual_service_delivery.robot
Owners: @SalesforceFoundation/release-engineering-reviewers

Modified code to add service field to BSDT fieldsets if one did not exist
  force-app/main/default/classes/ServiceDeliveryController.cls
  force-app/main/default/classes/ServiceDeliveryController_TEST.cls
  force-app/main/default/classes/ServiceService.cls
  force-app/main/default/classes/ServiceService_TEST.cls
  force-app/main/default/lwc/bulkServiceDeliveryUI/bulkServiceDeliveryUI.js
Owners: none

CMade the field check dynamic and not string specific. Changed the name of the controller and service methods
  force-app/main/default/classes/ServiceDeliveryController.cls
  force-app/main/default/classes/ServiceDeliveryController_TEST.cls
  force-app/main/default/classes/ServiceService.cls
Owners: none

refactored the code to make it cleaner
  force-app/main/default/classes/ServiceService.cls
  force-app/main/default/lwc/bulkServiceDeliveryUI/bulkServiceDeliveryUI.js
Owners: none

moved the return statement to inside the try block
  force-app/main/default/classes/ServiceDeliveryController.cls
Owners: none

refactored the code
  force-app/main/default/classes/ServiceService.cls
Owners: none

Added the methodname to a string variable
  force-app/main/default/classes/ServiceDeliveryController_TEST.cls
Owners: none

wip
  force-app/main/default/classes/AttendanceService.cls
  force-app/main/default/classes/ContactRollup_Tarren_Part2.cls
  force-app/main/default/classes/ContactRollupsBatchCalc.cls
  force-app/main/default/classes/ContactRollupsBatchCalc.cls-meta.xml
  force-app/main/default/classes/ContactRollupsBatchCalc_TEST.cls
  force-app/main/default/classes/ContactRollupsBatchCalc_TEST.cls-meta.xml
  force-app/main/default/classes/ContactRollupsSchedulable.cls
Owners: none

added tests to filter on screen 3
  robot/pmm/resources/ServiceSchedulePageObject.py
  robot/pmm/resources/locators_51.py
  robot/pmm/tests/browser/ServiceSchedule/new_service_schedule.robot
  robot/pmm/tests/browser/ServiceSchedule/service_schedule_layout.robot
  robot/pmm/tests/browser/ServiceSchedule/service_schedule_screen3.robot
Owners: @SalesforceFoundation/release-engineering-reviewers

Added tests for getServiceDeliveryFieldSets method
  force-app/main/default/classes/ServiceService.cls
  force-app/main/default/classes/ServiceService_TEST.cls
Owners: none

Update basic stub to new stub with builder
  force-app/main/default/classes/ServiceService_TEST.cls
  force-app/main/default/classes/Stub.cls
  force-app/main/default/classes/Stub.cls-meta.xml
  force-app/main/default/classes/StubBuilder.cls
  force-app/main/default/classes/StubBuilder.cls-meta.xml
Owners: none

Update other tests to use new stub with builder.
  force-app/main/default/classes/ServiceService_TEST.cls
  force-app/main/default/classes/Stub.cls
Owners: none

Remove wip classes
  force-app/main/default/classes/ContactRollup_Tarren_Part1.cls
  force-app/main/default/classes/ContactRollup_Tarren_Part1.cls-meta.xml
  force-app/main/default/classes/ContactRollup_Tarren_Part2.cls
  force-app/main/default/classes/ContactRollup_Tarren_Part2.cls-meta.xml
Owners: none

Added tests to account for all the fields in the fieldset
  force-app/main/default/classes/ServiceService_TEST.cls
Owners: none

Fixed a bug list index out of bounds when list size is the same as the index
  force-app/main/default/classes/ServiceService.cls
Owners: none

Added a test scenario by removing contact and service field from the fieldset
  force-app/main/default/classes/ServiceService_TEST.cls
Owners: none

updated service schedule filter tests
  robot/pmm/tests/browser/ServiceSchedule/service_schedule_filter.robot
  robot/pmm/tests/browser/ServiceSchedule/service_schedule_screen3.robot
Owners: none

PE fields no longer required
  force-app/main/default/objects/ProgramEngagement__c/fields/Role__c.field-meta.xml
  force-app/main/default/objects/ProgramEngagement__c/fields/Stage__c.field-meta.xml
Owners: @AndersonTarren, @jessicahaas1, @smarovich

wip: move to dynamic apex
  force-app/main/default/classes/AttendanceService.cls
  force-app/main/default/classes/ContactRollupsBatchCalc.cls
  force-app/main/default/classes/ContactRollupsSchedulable.cls
  force-app/main/default/classes/ContactRollupsSchedulable_TEST.cls
  force-app/main/default/classes/ServiceDeliveryRollups.cls
  force-app/main/default/classes/ServiceDeliveryRollups.cls-meta.xml
Owners: none

Fix rollup calculations
  force-app/main/default/classes/AttendanceService.cls
  force-app/main/default/classes/ContactRollupsSchedulable.cls
  force-app/main/default/classes/ServiceDeliveryRollups.cls
Owners: none

wip: move logic to a separate class
  force-app/main/default/classes/AttendanceService.cls
  force-app/main/default/classes/ContactRollupsSchedulable.cls
  force-app/main/default/classes/Rollups.cls
  force-app/main/default/classes/Rollups.cls-meta.xml
  force-app/main/default/classes/ServiceDeliveryRollups.cls
Owners: none

Use wrapper around sObject to calculate totals
  force-app/main/default/classes/RollupRecord.cls
  force-app/main/default/classes/RollupRecord.cls-meta.xml
  force-app/main/default/classes/Rollups.cls
Owners: none

Apex complained about casting so we skipped it
  force-app/main/default/classes/RollupRecord.cls
Owners: none

non-required on layout too
  force-app/main/default/layouts/ProgramEngagement__c-Program Engagement Layout.layout-meta.xml
Owners: none

update quick actions for non-required fields
  force-app/main/default/quickActions/Contact.AddContactToProgram.quickAction-meta.xml
  force-app/main/default/quickActions/Program__c.AddContactToProgram.quickAction-meta.xml
Owners: none

wip
  force-app/main/default/classes/AttendanceController.cls
  force-app/main/default/classes/AttendanceController_TEST.cls
  force-app/main/default/classes/AttendanceService.cls
  force-app/main/default/classes/AttendanceService_TEST.cls
  force-app/main/default/classes/ContactRollupsBatchCalc_TEST.cls
  force-app/main/default/classes/ContactRollupsSchedulable_TEST.cls
  force-app/main/default/classes/ProgramEngagementRollupsSchedulable.cls
  force-app/main/default/classes/ProgramEngagementRollupsSchedulable_TEST.cls
  force-app/main/default/classes/Rollups.cls
  force-app/main/default/classes/ServiceDeliveryRollups.cls
  force-app/main/default/classes/ServiceDeliveryService.cls
  force-app/main/default/classes/ServiceDeliveryService.cls-meta.xml
  force-app/main/default/classes/ServiceDeliveryTriggerHandler.cls
  force-app/main/default/classes/ServiceDeliveryTriggerHandler_TEST.cls
  force-app/main/default/classes/ServiceRollupsSchedulable.cls
  force-app/main/default/classes/ServiceRollupsSchedulable_TEST.cls
  force-app/main/default/classes/SessionRollupsSchedulable.cls
  force-app/main/default/classes/SessionRollupsSchedulable_TEST.cls
Owners: none

wip: shuffle
  force-app/main/default/classes/AttendanceSelector.cls
  force-app/main/default/classes/ContactRollupsBatchCalc_TEST.cls
  force-app/main/default/classes/ContactRollupsSchedulable.cls
  force-app/main/default/classes/RollupRecord.cls
  force-app/main/default/classes/Rollups.cls
  force-app/main/default/classes/ServiceDeliveryRollups.cls
  force-app/main/default/classes/ServiceDeliveryService.cls
Owners: none

Added logic to the servicerollupsschedulable class and changed the batch size on cotactrollupsschedulable
  force-app/main/default/classes/AttendanceSelector.cls
  force-app/main/default/classes/ContactRollupsSchedulable.cls
  force-app/main/default/classes/ServiceRollupsSchedulable.cls
Owners: none

wip: count records processed
  force-app/main/default/classes/AttendanceSelector.cls
  force-app/main/default/classes/RollupRecord.cls
  force-app/main/default/classes/Rollups.cls
  force-app/main/default/classes/ServiceDeliveryRollups.cls
  force-app/main/default/classes/ServiceDeliveryService.cls
Owners: none

wip: Fix count query
  force-app/main/default/classes/AttendanceSelector.cls
  force-app/main/default/classes/Rollups.cls
  force-app/main/default/classes/ServiceDeliveryService.cls
Owners: none

Fix tracking of cross batch records and update remaining batch jobs
  force-app/main/default/classes/AttendanceSelector.cls
  force-app/main/default/classes/ProgramEngagementRollupsSchedulable.cls
  force-app/main/default/classes/RollupRecord.cls
  force-app/main/default/classes/Rollups.cls
  force-app/main/default/classes/ServiceDeliveryRollups.cls
  force-app/main/default/classes/SessionRollupsSchedulable.cls
Owners: none

Make New Service Schedule work in Experience Cloud
  force-app/main/default/aura/createServiceSchedule/createServiceSchedule.cmp
  force-app/main/default/aura/createServiceSchedule/createServiceScheduleController.js
  force-app/main/default/lwc/newServiceSchedule/newServiceSchedule.html
  force-app/main/default/lwc/serviceScheduleCreator/serviceScheduleCreator.html
  force-app/main/default/lwc/serviceScheduleCreator/serviceScheduleCreator.js
  force-app/main/default/lwc/serviceScheduleCreatorWrapper/serviceScheduleCreatorWrapper.html
  force-app/main/default/lwc/serviceScheduleCreatorWrapper/serviceScheduleCreatorWrapper.js
  force-app/main/default/lwc/serviceScheduleCreatorWrapper/serviceScheduleCreatorWrapper.js-meta.xml
Owners: none

Refactored the code and moved all queries to selector class
  force-app/main/default/classes/AttendanceSelector.cls
  force-app/main/default/classes/Rollups.cls
  force-app/main/default/classes/ServiceDeliveryRollups.cls
  force-app/main/default/classes/ServiceDeliveryService.cls
Owners: none

Move queries into system access for rollups, and class renaming
  force-app/main/default/classes/AttendanceSelector.cls
  force-app/main/default/classes/AttendanceSelector_TEST.cls
  force-app/main/default/classes/ContactRollupsSchedulable.cls
  force-app/main/default/classes/ProgramEngagementRollupsSchedulable.cls
  force-app/main/default/classes/ServiceDeliveryRollupsBatch.cls
  force-app/main/default/classes/ServiceDeliveryRollupsBatch.cls-meta.xml
  force-app/main/default/classes/ServiceDeliveryRollupsService.cls
  force-app/main/default/classes/ServiceDeliveryRollupsService.cls-meta.xml
  force-app/main/default/classes/ServiceDeliveryService.cls
  force-app/main/default/classes/ServiceDeliveryTriggerHandler.cls
  force-app/main/default/classes/ServiceRollupsSchedulable.cls
  force-app/main/default/classes/ServiceRollupsSchedulable_TEST.cls
  force-app/main/default/classes/SessionRollupsSchedulable.cls
  force-app/main/default/classes/SessionRollupsSchedulable_TEST.cls
  force-app/main/default/classes/SystemAccess.cls
  force-app/main/default/classes/SystemAccess_TEST.cls
Owners: none

Rename another class and matching test classes
  force-app/main/default/classes/ContactRollupsBatchCalc_TEST.cls
  force-app/main/default/classes/ContactRollupsBatchCalc_TEST.cls-meta.xml
Owners: none

Rename another class and matching test classes
  force-app/main/default/classes/ServiceDeliverySelector.cls
  force-app/main/default/classes/ServiceDeliverySelector.cls-meta.xml
  force-app/main/default/classes/ServiceDeliverySelector_TEST.cls
  force-app/main/default/classes/ServiceDeliverySelector_TEST.cls-meta.xml
  force-app/main/default/classes/ServiceDeliveryService.cls
  force-app/main/default/classes/ServiceDeliveryService_TEST.cls
  force-app/main/default/classes/ServiceDeliveryService_TEST.cls-meta.xml
Owners: none

Cleanup comments.
  force-app/main/default/classes/ContactRollupsSchedulable.cls
  force-app/main/default/classes/ProgramEngagementRollupsSchedulable.cls
  force-app/main/default/classes/ServiceRollupsSchedulable.cls
  force-app/main/default/classes/SessionRollupsSchedulable.cls
Owners: none

.github/CODEOWNERS:

# Python
*.py                  @SalesforceFoundation/release-engineering-reviewers

# CumulusCI
/cumulusci.yml        @SalesforceFoundation/release-engineering-reviewers
/tasks/               @SalesforceFoundation/release-engineering-reviewers

# Packaged Metadata
/force-app/main/default/labels   @AndersonTarren @jessicahaas1 @smarovich
/force-app/main/default/objects  @AndersonTarren @jessicahaas1 @smarovich

# Actions
/.github                @SalesforceFoundation/release-engineering-reviewers
/scripts                @SalesforceFoundation/release-engineering-reviewers
