Repository SalesforceFoundation/PMM, changes with the owners that .github/CODEOWNERS names for each.
All owners: @SalesforceFoundation/release-engineering-reviewers, @AndersonTarren, @jessicahaas1, @smarovich

.github/CODEOWNERS:

# Python
*.py                  @SalesforceFoundation/release-engineering-reviewers

# CumulusCI
/cumulusci.yml        @SalesforceFoundation/release-engineering-reviewers
/tasks/               @SalesforceFoundation/release-engineering-reviewers

# Packaged Metadata
/force-app/main/default/labels   @AndersonTarren @jessicahaas1 @smarovich
/force-app/main/default/objects  @AndersonTarren @jessicahaas1 @smarovich

# Actions
/.github                @SalesforceFoundation/release-engineering-reviewers
/scripts                @SalesforceFoundation/release-engineering-reviewers

Add row count to auto generated rows and apply defaults to new rows
  force-app/main/default/lwc/bulkServiceDeliveryUI/bulkServiceDeliveryUI.js
Owners: none

Pass back the field set selected on the defaults screen.
  force-app/main/default/lwc/bulkServiceDeliveryUI/bulkServiceDeliveryUI.js
  force-app/main/default/lwc/groupServiceDelivery/groupServiceDelivery.js
Owners: none

Fix add row to be deleteable and do not store Id if combobox on add row.
  force-app/main/default/lwc/bulkServiceDeliveryUI/bulkServiceDeliveryUI.html
  force-app/main/default/lwc/bulkServiceDeliveryUI/bulkServiceDeliveryUI.js
  force-app/main/default/lwc/serviceDeliveryRow/serviceDeliveryRow.js
Owners: none

Fix default field set behavior
  force-app/main/default/lwc/bulkServiceDeliveryUI/bulkServiceDeliveryUI.html
  force-app/main/default/lwc/bulkServiceDeliveryUI/bulkServiceDeliveryUI.js
  force-app/main/default/lwc/serviceDeliveryRow/serviceDeliveryRow.html
  force-app/main/default/lwc/serviceDeliveryRow/serviceDeliveryRow.js
Owners: none

Fix merge conflict resolution
  force-app/main/default/lwc/bulkServiceDeliveryUI/bulkServiceDeliveryUI.html
  force-app/main/default/lwc/bulkServiceDeliveryUI/bulkServiceDeliveryUI.js
  force-app/main/default/lwc/serviceDeliveryRow/serviceDeliveryRow.js
Owners: none

don't reset fields if no change in fieldset
  force-app/main/default/lwc/serviceDeliveryRow/serviceDeliveryRow.js
Owners: none

remove field object, fix merge conflict error
  force-app/main/default/lwc/serviceDeliveryDefaults/serviceDeliveryDefaults.html
  force-app/main/default/lwc/serviceDeliveryDefaults/serviceDeliveryDefaults.js
Owners: none

allow revert to default on getCurrentFieldSet
  force-app/main/default/lwc/bulkServiceDeliveryUI/serviceDeliveryFieldSets.js
Owners: none

Ensure fieldsets are retrieved before trying to render rows
  force-app/main/default/lwc/bulkServiceDeliveryUI/bulkServiceDeliveryUI.html
Owners: none

logs
  force-app/main/default/lwc/serviceDeliveryRow/serviceDeliveryRow.js
Owners: none

change if-true again
  force-app/main/default/lwc/bulkServiceDeliveryUI/bulkServiceDeliveryUI.html
Owners: none

more logs and testing stuff
  cumulusci.yml
  force-app/main/default/lwc/serviceDeliveryModal/serviceDeliveryModal.html
  force-app/main/default/lwc/serviceDeliveryModal/serviceDeliveryModal.js
  force-app/main/default/lwc/serviceDeliveryModal/serviceDeliveryModal.js-meta.xml
  force-app/main/default/lwc/serviceDeliveryRow/serviceDeliveryRow.js
Owners: @SalesforceFoundation/release-engineering-reviewers

Fix wording
  force-app/main/default/labels/CustomLabels.labels-meta.xml
Owners: @AndersonTarren, @jessicahaas1, @smarovich

Added tests to verify programs listview and create new service delivery using quick action on sd record
  robot/pmm/tests/browser/Program/create_program.robot
  robot/pmm/tests/browser/ServiceDeliveries/sd_quickaction.robot
Owners: none

Update test case description
  robot/pmm/tests/browser/ServiceDeliveries/sd_quickaction.robot
Owners: none

fix quantity label reset on defaults page
  force-app/main/default/lwc/serviceDeliveryDefaults/serviceDeliveryDefaults.js
Owners: none

fix issue with service resetting when programengagement field not present
  force-app/main/default/lwc/serviceDeliveryRow/serviceDeliveryRow.js
Owners: none

label tweaks
  force-app/main/default/labels/CustomLabels.labels-meta.xml
Owners: @AndersonTarren, @jessicahaas1, @smarovich

Exposing the attendance component to experience cloud
  force-app/main/default/lwc/attendance/attendance.js-meta.xml
Owners: none

fix service lookup behavior on new PE
  force-app/main/default/lwc/serviceDeliveryRow/serviceDeliveryRow.js
Owners: none

fix issue where second service change in group view wouldn't change field set
  force-app/main/default/lwc/serviceDeliveryRow/serviceDeliveryRow.js
Owners: none

fix issue where alternate field sets wouldn't get uom label
  force-app/main/default/lwc/serviceDeliveryDefaults/serviceDeliveryDefaults.js
Owners: none

fixing default application from modal
  force-app/main/default/lwc/bulkServiceDeliveryUI/bulkServiceDeliveryUI.js
  force-app/main/default/lwc/pubsub/pubsub.js
  force-app/main/default/lwc/serviceDeliveryModal/serviceDeliveryModal.js
  force-app/main/default/lwc/serviceDeliveryRow/serviceDeliveryRow.js
Owners: none

BSDT refined to display existing records from caseman in modal
  force-app/main/default/lwc/bulkServiceDeliveryUI/bulkServiceDeliveryUI.js
  force-app/main/default/lwc/serviceDeliveryModal/serviceDeliveryModal.html
  force-app/main/default/lwc/serviceDeliveryModal/serviceDeliveryModal.js
  force-app/main/default/lwc/serviceDeliveryRow/serviceDeliveryRow.js
Owners: none

fix handling for empty list of existingRecords
  force-app/main/default/lwc/bulkServiceDeliveryUI/bulkServiceDeliveryUI.js
Owners: none

fix issue with top row not clearing when BSDT called in modal second time
  force-app/main/default/lwc/bulkServiceDeliveryUI/bulkServiceDeliveryUI.js
  force-app/main/default/lwc/serviceDeliveryRow/serviceDeliveryRow.js
Owners: none

Fix Default Service Quantity
  force-app/main/default/lwc/newServiceSchedule/newServiceSchedule.js
Owners: none

removing existingRecords plumbing for now
  force-app/main/default/lwc/serviceDeliveryModal/serviceDeliveryModal.html
  force-app/main/default/lwc/serviceDeliveryModal/serviceDeliveryModal.js
Owners: none

removing existingRecords plumbing for now part 2
  force-app/main/default/lwc/bulkServiceDeliveryUI/bulkServiceDeliveryUI.js
Owners: none

update bsdt modal header
  force-app/main/default/labels/CustomLabels.labels-meta.xml
Owners: @AndersonTarren, @jessicahaas1, @smarovich

Removed commented out code in pubsub.js and removed caseman reference from a comment
  force-app/main/default/lwc/pubsub/pubsub.js
  force-app/main/default/lwc/serviceDeliveryRow/serviceDeliveryRow.js
Owners: none

Updates to Service Schedule robot tests for new Add Participants page in wizard
  robot/pmm/doc/Keywords.html
  robot/pmm/resources/ServiceSchedulePageObject.py
  robot/pmm/resources/locators_51.py
  robot/pmm/tests/browser/ServiceSchedule/new_service_schedule.robot
  robot/pmm/tests/browser/ServiceSchedule/service_schedule_layout.robot
  robot/pmm/tests/browser/ServiceSchedule/service_schedule_screen3.robot
Owners: @SalesforceFoundation/release-engineering-reviewers

Update keywords file
  robot/pmm/doc/Keywords.html
Owners: none

Fix black lint error
  robot/pmm/resources/ServiceSchedulePageObject.py
Owners: @SalesforceFoundation/release-engineering-reviewers

pmm snowfakery
  datasets/snowfakery/pmm.yml
Owners: none

snowfakery recipe for PMM
  datasets/snowfakery/pmm.yml
Owners: none

Add dependency resolutions
  cumulusci.yml
Owners: @SalesforceFoundation/release-engineering-reviewers

updatedbsdt tests
  robot/pmm/resources/BulkServiceDeliveryPageObject.py
  robot/pmm/tests/browser/Bulk_Service_Delivery/group_service_deliveries.robot
  robot/pmm/tests/browser/Bulk_Service_Delivery/individual_service_deliveries.robot
Owners: @SalesforceFoundation/release-engineering-reviewers

wip
  cumulusci.yml
Owners: @SalesforceFoundation/release-engineering-reviewers

wip
  datasets/snowfakery/pmm-unmanaged.recipe.yml
  datasets/snowfakery/pmm.recipe.yml
Owners: none
