Repository SalesforceFoundation/PMM, changes with the owners that .github/CODEOWNERS names for each.
All owners: @SalesforceFoundation/release-engineering-reviewers, @AndersonTarren, @jessicahaas1, @smarovich

Screen 3; fix centering on screen 1; maintain values won back and validate fields
  force-app/main/default/classes/ServiceScheduleModel.cls
  force-app/main/default/labels/CustomLabels.labels-meta.xml
  force-app/main/default/lwc/groupServiceDeliveries/groupServiceDeliveries.html
  force-app/main/default/lwc/groupServiceDeliveries/groupServiceDeliveries.js
  force-app/main/default/lwc/groupServiceDelivery/groupServiceDelivery.html
  force-app/main/default/lwc/groupServiceDelivery/groupServiceDelivery.js
  force-app/main/default/lwc/participantAdder/participantAdder.html
  force-app/main/default/lwc/participantSelector/participantSelector.html
  force-app/main/default/lwc/participantSelector/participantSelector.js
  force-app/main/default/lwc/serviceScheduleCreator/serviceScheduleCreator.html
  force-app/main/default/lwc/visualPicker/visualPicker.html
Owners: @AndersonTarren, @jessicahaas1, @smarovich

Remove accidental changes from another branch
  force-app/main/default/classes/AttendanceService.cls
  force-app/main/default/classes/ContactRollups_SCHED.cls
  force-app/main/default/classes/ContactRollups_SCHED.cls-meta.xml
  force-app/main/default/classes/SystemAccess.cls
Owners: none

Screen 3; fix centering on screen 1; maintain values won back and validate fields
  force-app/main/default/labels/CustomLabels.labels-meta.xml
  force-app/main/default/lwc/groupServiceDeliveries/groupServiceDeliveries.html
  force-app/main/default/lwc/groupServiceDeliveries/groupServiceDeliveries.js
  force-app/main/default/lwc/groupServiceDelivery/groupServiceDelivery.html
  force-app/main/default/lwc/groupServiceDelivery/groupServiceDelivery.js
  force-app/main/default/lwc/participantAdder/participantAdder.html
  force-app/main/default/lwc/participantSelector/participantSelector.html
  force-app/main/default/lwc/participantSelector/participantSelector.js
  force-app/main/default/lwc/serviceScheduleCreator/serviceScheduleCreator.html
  force-app/main/default/lwc/visualPicker/visualPicker.html
Owners: @AndersonTarren, @jessicahaas1, @smarovich

Reset selected rows after selections added
  force-app/main/default/lwc/participantSelector/participantSelector.js
Owners: none

Bring logic over from CM to get all field sets for an object
  force-app/main/default/classes/FieldSetService.cls
  force-app/main/default/classes/FieldSetService_TEST.cls
  force-app/main/default/labels/CustomLabels.labels-meta.xml
Owners: @AndersonTarren, @jessicahaas1, @smarovich

Add controller method
  force-app/main/default/classes/FieldSetController.cls
  force-app/main/default/classes/FieldSetController_TEST.cls
  force-app/main/default/classes/FieldSetService.cls
  force-app/main/default/classes/FieldSetService_TEST.cls
Owners: none

BSDT Manual Save
  force-app/main/default/lwc/bulkServiceDeliveryUI/bulkServiceDeliveryUI.html
  force-app/main/default/lwc/bulkServiceDeliveryUI/bulkServiceDeliveryUI.js
  force-app/main/default/lwc/serviceDeliveryModal/serviceDeliveryModal.html
  force-app/main/default/lwc/serviceDeliveryRow/serviceDeliveryRow.html
  force-app/main/default/lwc/serviceDeliveryRow/serviceDeliveryRow.js
Owners: none

labels
  force-app/main/default/labels/CustomLabels.labels-meta.xml
  force-app/main/default/lwc/serviceDeliveryRow/serviceDeliveryRow.html
  force-app/main/default/lwc/serviceDeliveryRow/serviceDeliveryRow.js
Owners: @AndersonTarren, @jessicahaas1, @smarovich

NS fix in AttendanceService tests
  force-app/main/default/classes/AttendanceService_TEST.cls
Owners: none

fixes from code review
  force-app/main/default/lwc/bulkServiceDeliveryUI/bulkServiceDeliveryUI.js
  force-app/main/default/lwc/serviceDeliveryRow/serviceDeliveryRow.js
Owners: none

Retrieve all Service Delivery field sets
  force-app/main/default/lwc/bulkServiceDeliveryUI/bulkServiceDeliveryUI.js
  force-app/main/default/lwc/bulkServiceDeliveryUI/serviceDeliveryFieldSets.js
Owners: none

Fix resolved merge conflict and unintentional readdition of removed attributes
  force-app/main/default/lwc/bulkServiceDeliveryUI/bulkServiceDeliveryUI.js
Owners: none

Update cumulusci.yml
  cumulusci.yml
Owners: @SalesforceFoundation/release-engineering-reviewers

Rename field and drive fields on rows by service field set
  force-app/main/default/lwc/bulkServiceDeliveryUI/bulkServiceDeliveryUI.html
  force-app/main/default/lwc/bulkServiceDeliveryUI/bulkServiceDeliveryUI.js
  force-app/main/default/lwc/bulkServiceDeliveryUI/serviceDeliveryFieldSets.js
  force-app/main/default/lwc/groupServiceDelivery/groupServiceDelivery.js
  force-app/main/default/lwc/serviceDeliveryRow/serviceDeliveryRow.html
  force-app/main/default/lwc/serviceDeliveryRow/serviceDeliveryRow.js
  force-app/main/default/objects/Service__c/fields/ServiceDeliveryFieldSet__c.field-meta.xml
Owners: @AndersonTarren, @jessicahaas1, @smarovich

Store fieldApiName
  force-app/main/default/lwc/serviceDeliveryRow/serviceDeliveryRow.js
Owners: none

Participant Selector - Add button
  force-app/main/default/classes/ServiceScheduleModel.cls
  force-app/main/default/labels/CustomLabels.labels-meta.xml
  force-app/main/default/lwc/participantSelector/participantSelector.html
  force-app/main/default/lwc/participantSelector/participantSelector.js
Owners: @AndersonTarren, @jessicahaas1, @smarovich

added 'Add All' button
  force-app/main/default/classes/ServiceScheduleModel.cls
  force-app/main/default/labels/CustomLabels.labels-meta.xml
  force-app/main/default/lwc/participantSelector/participantSelector.html
  force-app/main/default/lwc/participantSelector/participantSelector.js
Owners: @AndersonTarren, @jessicahaas1, @smarovich

remove footer
  force-app/main/default/lwc/participantSelector/participantSelector.html
Owners: none

Spring cleaning
  force-app/main/default/lwc/serviceDeliveryRow/serviceDeliveryRow.html
  force-app/main/default/lwc/serviceDeliveryRow/serviceDeliveryRow.js
Owners: none

Additional spring cleaning
  force-app/main/default/lwc/serviceDeliveryRow/serviceDeliveryRow.html
  force-app/main/default/lwc/serviceDeliveryRow/serviceDeliveryRow.js
Owners: none

Refinement of modal close scenarios to allow for errors
  force-app/main/default/lwc/bulkServiceDeliveryUI/bulkServiceDeliveryUI.js
  force-app/main/default/lwc/serviceDeliveryRow/serviceDeliveryRow.js
Owners: none

Add/Add All buttons for Participant Selector
  force-app/main/default/labels/CustomLabels.labels-meta.xml
  force-app/main/default/lwc/participantSelector/participantSelector.html
  force-app/main/default/lwc/participantSelector/participantSelector.js
Owners: @AndersonTarren, @jessicahaas1, @smarovich

addAll only filtered
  force-app/main/default/lwc/participantSelector/participantSelector.js
Owners: none

Attendance Component in Experience Cloud
  force-app/main/default/lwc/attendance/attendance.js-meta.xml
Owners: none

Finished spring cleaning
  force-app/main/default/lwc/bulkServiceDeliveryUI/serviceDeliveryFieldSets.js
  force-app/main/default/lwc/serviceDeliveryRow/serviceDeliveryRow.html
  force-app/main/default/lwc/serviceDeliveryRow/serviceDeliveryRow.js
Owners: none

Testing aria-live for announcing participant selection
  force-app/main/default/labels/CustomLabels.labels-meta.xml
  force-app/main/default/lwc/participantSelector/participantSelector.html
  force-app/main/default/lwc/participantSelector/participantSelector.js
Owners: @AndersonTarren, @jessicahaas1, @smarovich

Handle special fields when added or removed from field set
  force-app/main/default/lwc/serviceDeliveryRow/serviceDeliveryRow.js
Owners: none

Fix accidental value change
  force-app/main/default/objects/Service__c/fields/ServiceDeliveryFieldSet__c.field-meta.xml
Owners: @AndersonTarren, @jessicahaas1, @smarovich

Resolve merge conflict
  force-app/main/default/classes/AttendanceService_TEST.cls
  force-app/main/default/labels/CustomLabels.labels-meta.xml
  force-app/main/default/lwc/bulkServiceDeliveryUI/bulkServiceDeliveryUI.html
  force-app/main/default/lwc/bulkServiceDeliveryUI/bulkServiceDeliveryUI.js
  force-app/main/default/lwc/serviceDeliveryModal/serviceDeliveryModal.html
  force-app/main/default/lwc/serviceDeliveryRow/serviceDeliveryRow.html
  force-app/main/default/lwc/serviceDeliveryRow/serviceDeliveryRow.js
Owners: @AndersonTarren, @jessicahaas1, @smarovich

Updated Select Value From Dropdown keyword and locator, and marked BSDT and Service Schedule tests as unstable
  robot/pmm/doc/Keywords.html
  robot/pmm/resources/locators_51.py
  robot/pmm/resources/pmm.py
  robot/pmm/tests/browser/Bulk_Service_Delivery/Add_service_deliveries.robot
  robot/pmm/tests/browser/Bulk_Service_Delivery/add_pe_on_BSDT.robot
  robot/pmm/tests/browser/ServiceSchedule/new_service_schedule.robot
  robot/pmm/tests/browser/ServiceSchedule/service_schedule_layout.robot
  robot/pmm/tests/browser/ServiceSchedule/service_schedule_screen3.robot
Owners: @SalesforceFoundation/release-engineering-reviewers

Fix field name on layout
  force-app/main/default/layouts/Service__c-Service Layout.layout-meta.xml
Owners: none

WIP
  datasets/snowfakery/pmm2.yml
  datasets/snowfakery/pmm3.yml
Owners: none

Restore combobox values and options and remember last service field set on add row.
  force-app/main/default/lwc/serviceDeliveryRow/serviceDeliveryRow.js
Owners: none

Fixes from PR review
  force-app/main/default/classes/FieldSetService.cls
  force-app/main/default/lwc/bulkServiceDeliveryUI/serviceDeliveryFieldSets.js
Owners: none

Update labels, names and permission sets
  force-app/main/default/labels/CustomLabels.labels-meta.xml
  force-app/main/default/lwc/bulkServiceDeliveryUI/serviceDeliveryFieldSets.js
  force-app/main/default/lwc/groupServiceDeliveries/groupServiceDeliveries.html
  force-app/main/default/lwc/serviceDeliveryDefaults/serviceDeliveryDefaults.html
  force-app/main/default/lwc/serviceDeliveryDefaults/serviceDeliveryDefaults.js
  force-app/main/default/lwc/serviceDeliveryDefaults/serviceDeliveryDefaults.js-meta.xml
  force-app/main/default/permissionsets/PMDM_Deliver.permissionset-meta.xml
  force-app/main/default/permissionsets/PMDM_Manage.permissionset-meta.xml
  force-app/main/default/permissionsets/PMDM_View.permissionset-meta.xml
Owners: @AndersonTarren, @jessicahaas1, @smarovich

first pass at seeded rows
  force-app/main/default/lwc/bulkServiceDeliveryUI/bulkServiceDeliveryUI.js
  force-app/main/default/lwc/groupServiceDeliveries/groupServiceDeliveries.js
Owners: none

Rename method for better readability and reuse method.
  force-app/main/default/classes/FieldSetController.cls
  force-app/main/default/classes/FieldSetController_TEST.cls
  force-app/main/default/classes/FieldSetService.cls
  force-app/main/default/classes/FieldSetService_TEST.cls
  force-app/main/default/lwc/bulkServiceDeliveryUI/bulkServiceDeliveryUI.js
  force-app/main/default/lwc/bulkServiceDeliveryUI/serviceDeliveryFieldSets.js
Owners: none

Disable next until participant selection; show unit of measure label
  force-app/main/default/lwc/groupServiceDeliveries/groupServiceDeliveries.html
  force-app/main/default/lwc/groupServiceDeliveries/groupServiceDeliveries.js
  force-app/main/default/lwc/participantSelector/participantSelector.js
  force-app/main/default/lwc/serviceDeliveryDefaults/serviceDeliveryDefaults.html
  force-app/main/default/lwc/serviceDeliveryDefaults/serviceDeliveryDefaults.js
  force-app/main/default/lwc/serviceDeliveryRow/serviceDeliveryRow.js
Owners: none

Do not show wizard in modal
  force-app/main/default/lwc/bulkServiceDeliveryUI/bulkServiceDeliveryUI.html
  force-app/main/default/lwc/bulkServiceDeliveryUI/bulkServiceDeliveryUI.js
Owners: none

seed rows with selected participants and defaults
  force-app/main/default/lwc/bulkServiceDeliveryUI/bulkServiceDeliveryUI.html
  force-app/main/default/lwc/bulkServiceDeliveryUI/bulkServiceDeliveryUI.js
  force-app/main/default/lwc/groupServiceDeliveries/groupServiceDeliveries.js
  force-app/main/default/lwc/serviceDeliveryRow/serviceDeliveryRow.js
Owners: none

.github/CODEOWNERS:

# Python
*.py                  @SalesforceFoundation/release-engineering-reviewers

# CumulusCI
/cumulusci.yml        @SalesforceFoundation/release-engineering-reviewers
/tasks/               @SalesforceFoundation/release-engineering-reviewers

# Packaged Metadata
/force-app/main/default/labels   @AndersonTarren @jessicahaas1 @smarovich
/force-app/main/default/objects  @AndersonTarren @jessicahaas1 @smarovich

# Actions
/.github                @SalesforceFoundation/release-engineering-reviewers
/scripts                @SalesforceFoundation/release-engineering-reviewers
