Repository SalesforceFoundation/PMM, changes with the owners that .github/CODEOWNERS names for each.
All owners: @SalesforceFoundation/release-engineering-reviewers, @AndersonTarren, @jessicahaas1, @smarovich

.github/CODEOWNERS:

# Python
*.py                  @SalesforceFoundation/release-engineering-reviewers

# CumulusCI
/cumulusci.yml        @SalesforceFoundation/release-engineering-reviewers
/tasks/               @SalesforceFoundation/release-engineering-reviewers

# Packaged Metadata
/force-app/main/default/labels   @AndersonTarren @jessicahaas1 @smarovich
/force-app/main/default/objects  @AndersonTarren @jessicahaas1 @smarovich

# Actions
/.github                @SalesforceFoundation/release-engineering-reviewers
/scripts                @SalesforceFoundation/release-engineering-reviewers

add community user automation
  cumulusci.yml
  datasets/communityusers.json
  unpackaged/config/experience_cloud/permissionsets/PMDM_Community_Manage.permissionset-meta.xml
Owners: @SalesforceFoundation/release-engineering-reviewers

Added the attendanceSummary field to the recent sessions fieldset and modified the code to match primary service provider code. Removed some unused variables from the ServiceSessionSelector class
  force-app/main/default/classes/ServiceSessionSelector.cls
  force-app/main/default/lwc/recentSessions/recentSessions.js
  force-app/main/default/lwc/sessionCard/sessionCard.html
  force-app/main/default/lwc/sessionCard/sessionCard.js
  force-app/main/default/objects/ServiceSession__c/fieldSets/RecentSessionsView.fieldSet-meta.xml
Owners: @AndersonTarren, @jessicahaas1, @smarovich

fix placeholder label
  unpackaged/config/experience_cloud/experiences/PMM_Volunteer_Community1/views/serviceSessionDetail.json
Owners: none

Cleanup parents with rollup totals that no longer have child deliveries. Remove complex query condition on service delivery batch query and depend on existing filters in code.
  force-app/main/default/classes/ContactRollupsSchedulable.cls
  force-app/main/default/classes/ProgramEngagementRollupsSchedulable.cls
  force-app/main/default/classes/ServiceDeliveryRollupsBatch.cls
  force-app/main/default/classes/ServiceDeliveryRollupsService.cls
  force-app/main/default/classes/ServiceRollupsSchedulable.cls
  force-app/main/default/classes/SessionRollupsSchedulable.cls
  force-app/main/default/classes/SystemAccess.cls
  force-app/main/default/classes/SystemAccess_TEST.cls
Owners: none

Add public group and sharing rules for community volunteer
  unpackaged/config/experience_cloud/groups/Community_Volunteers.group-meta.xml
  unpackaged/config/experience_cloud/sharingRules/Contact.sharingRules-meta.xml
  unpackaged/config/experience_cloud/sharingRules/ProgramCohort__c.sharingRules-meta.xml
  unpackaged/config/experience_cloud/sharingRules/ProgramEngagement__c.sharingRules-meta.xml
  unpackaged/config/experience_cloud/sharingRules/Program__c.sharingRules-meta.xml
  unpackaged/config/experience_cloud/sharingRules/ServiceDelivery__c.sharingRules-meta.xml
  unpackaged/config/experience_cloud/sharingRules/ServiceParticipant__c.sharingRules-meta.xml
  unpackaged/config/experience_cloud/sharingRules/ServiceSchedule__c.sharingRules-meta.xml
  unpackaged/config/experience_cloud/sharingRules/ServiceSession__c.sharingRules-meta.xml
  unpackaged/config/experience_cloud/sharingRules/Service__c.sharingRules-meta.xml
Owners: none

Modified the test classes based on the changes made on friday where in we do not pass attendance statuses anymore and updated the batch tests
  force-app/main/default/classes/ContactRollupsSchedulable_TEST.cls
  force-app/main/default/classes/ProgramEngagementRollupsSchedulable_TEST.cls
  force-app/main/default/classes/ServiceDeliveryRollupsService_TEST.cls
  force-app/main/default/classes/ServiceRollupsSchedulable_TEST.cls
  force-app/main/default/classes/SessionRollupsSchedulable_TEST.cls
  force-app/main/default/classes/SystemAccess_TEST.cls
Owners: none

Sharing rules with owner ID not hardcoded
  unpackaged/config/experience_cloud/sharingRules/Contact.sharingRules-meta.xml
  unpackaged/config/experience_cloud/sharingRules/ProgramCohort__c.sharingRules-meta.xml
  unpackaged/config/experience_cloud/sharingRules/ProgramEngagement__c.sharingRules-meta.xml
  unpackaged/config/experience_cloud/sharingRules/Program__c.sharingRules-meta.xml
  unpackaged/config/experience_cloud/sharingRules/ServiceDelivery__c.sharingRules-meta.xml
  unpackaged/config/experience_cloud/sharingRules/ServiceParticipant__c.sharingRules-meta.xml
  unpackaged/config/experience_cloud/sharingRules/ServiceSchedule__c.sharingRules-meta.xml
  unpackaged/config/experience_cloud/sharingRules/ServiceSession__c.sharingRules-meta.xml
  unpackaged/config/experience_cloud/sharingRules/Service__c.sharingRules-meta.xml
Owners: none

split admin update from cmty user update
  cumulusci.yml
  datasets/communityowner.json
  datasets/communityuser.json
Owners: @SalesforceFoundation/release-engineering-reviewers

add OWDs task and wait step
  cumulusci.yml
Owners: @SalesforceFoundation/release-engineering-reviewers

add snapshot to end of make_community
  cumulusci.yml
Owners: @SalesforceFoundation/release-engineering-reviewers

add maya as community group user
  datasets/communityuser.json
Owners: none

remove cumulusci.yml cruft
  cumulusci.yml
Owners: @SalesforceFoundation/release-engineering-reviewers

add namespace tokens in unmanaged md
  unpackaged/config/experience_cloud/experiences/PMM_Volunteer_Community1/routes/serviceScheduleDetail.json
  unpackaged/config/experience_cloud/experiences/PMM_Volunteer_Community1/routes/serviceScheduleList.json
  unpackaged/config/experience_cloud/experiences/PMM_Volunteer_Community1/routes/serviceScheduleRelatedList.json
  unpackaged/config/experience_cloud/experiences/PMM_Volunteer_Community1/routes/serviceSessionDetail.json
  unpackaged/config/experience_cloud/experiences/PMM_Volunteer_Community1/routes/serviceSessionList.json
  unpackaged/config/experience_cloud/experiences/PMM_Volunteer_Community1/routes/serviceSessionRelatedList.json
  unpackaged/config/experience_cloud/navigationMenus/PMM_Navigation1.navigationMenu-meta.xml
  unpackaged/config/experience_cloud/permissionsets/PMDM_Community_Deliver.permissionset-meta.xml
  unpackaged/config/experience_cloud/permissionsets/PMDM_Community_Manage.permissionset-meta.xml
  unpackaged/config/experience_cloud/permissionsets/PMDM_Community_View.permissionset-meta.xml
  unpackaged/config/experience_cloud/sharingSets/CCPlus_Sharing_Set.sharingSet-meta.xml
Owners: none

tab ns
  unpackaged/config/experience_cloud/permissionsets/PMDM_Community_Deliver.permissionset-meta.xml
  unpackaged/config/experience_cloud/permissionsets/PMDM_Community_Manage.permissionset-meta.xml
  unpackaged/config/experience_cloud/permissionsets/PMDM_Community_View.permissionset-meta.xml
Owners: none

Default the triggers to off
  force-app/main/default/customMetadata/FeatureGate.ServiceDeliveriesToContact.md-meta.xml
  force-app/main/default/customMetadata/FeatureGate.ServiceDeliveriesToProgramEngagement.md-meta.xml
  force-app/main/default/customMetadata/FeatureGate.ServiceDeliveriesToService.md-meta.xml
  force-app/main/default/customMetadata/FeatureGate.ServiceDeliveriesToServiceSession.md-meta.xml
Owners: none

filter on bsdt wizard
  robot/pmm/resources/locators_51.py
  robot/pmm/tests/browser/Bulk_Service_Delivery/group_service_delivery.robot
Owners: @SalesforceFoundation/release-engineering-reviewers

add remaining namespace tokens in unpackaged md
  unpackaged/config/experience_cloud/experiences/PMM_Volunteer_Community1/views/serviceSessionDetail.json
  unpackaged/config/experience_cloud/navigationMenus/PMM_Navigation1.navigationMenu-meta.xml
  unpackaged/config/experience_cloud/permissionsets/PMDM_Community_Deliver.permissionset-meta.xml
  unpackaged/config/experience_cloud/permissionsets/PMDM_Community_Manage.permissionset-meta.xml
  unpackaged/config/experience_cloud/permissionsets/PMDM_Community_View.permissionset-meta.xml
  unpackaged/config/experience_cloud/sharingRules/___NAMESPACE___ProgramCohort__c.sharingRules-meta.xml
  unpackaged/config/experience_cloud/sharingRules/___NAMESPACE___ProgramEngagement__c.sharingRules-meta.xml
  unpackaged/config/experience_cloud/sharingRules/___NAMESPACE___Program__c.sharingRules-meta.xml
  unpackaged/config/experience_cloud/sharingRules/___NAMESPACE___ServiceDelivery__c.sharingRules-meta.xml
  unpackaged/config/experience_cloud/sharingRules/___NAMESPACE___ServiceParticipant__c.sharingRules-meta.xml
  unpackaged/config/experience_cloud/sharingRules/___NAMESPACE___ServiceSchedule__c.sharingRules-meta.xml
  unpackaged/config/experience_cloud/sharingRules/___NAMESPACE___ServiceSession__c.sharingRules-meta.xml
  unpackaged/config/experience_cloud/sharingRules/___NAMESPACE___Service__c.sharingRules-meta.xml
Owners: none

filter on bsdt wizard
  robot/pmm/tests/browser/Bulk_Service_Delivery/group_service_delivery.robot
Owners: none

Add empty state warning to Attendance tab when no recordId
  force-app/main/default/labels/CustomLabels.labels-meta.xml
  force-app/main/default/lwc/attendance/attendance.html
  force-app/main/default/lwc/attendance/attendance.js
Owners: @AndersonTarren, @jessicahaas1, @smarovich

Wip: convert trigger to incremental rollups
  force-app/main/default/classes/ContactRollupsSchedulable.cls
  force-app/main/default/classes/ProgramEngagementRollupsSchedulable.cls
  force-app/main/default/classes/RollupRecord.cls
  force-app/main/default/classes/ServiceDelivery.cls
  force-app/main/default/classes/ServiceDelivery.cls-meta.xml
  force-app/main/default/classes/ServiceDeliveryRollupsBatch.cls
  force-app/main/default/classes/ServiceDeliveryRollupsService.cls
  force-app/main/default/classes/ServiceDeliveryRollupsService_TEST.cls
  force-app/main/default/classes/ServiceDeliveryTriggerHandler.cls
  force-app/main/default/classes/ServiceDeliveryTriggerHandler_TEST.cls
  force-app/main/default/classes/ServiceRollupsSchedulable.cls
  force-app/main/default/classes/SessionRollupsSchedulable.cls
  force-app/main/default/classes/SystemAccess.cls
Owners: none

added test for attendance calculations
  robot/pmm/resources/ServiceSessionPageObject.py
  robot/pmm/resources/locators_51.py
  robot/pmm/resources/pmm.py
  robot/pmm/resources/pmm.robot
  robot/pmm/tests/browser/Attendance/attendance_summary.robot
  robot/pmm/tests/browser/Attendance/dim_attendance.robot
  robot/pmm/tests/browser/Attendance/update_attendance.robot
Owners: @SalesforceFoundation/release-engineering-reviewers

Additional cleanup
  force-app/main/default/classes/RollupRecord.cls
  force-app/main/default/classes/ServiceDeliveryRollupsService.cls
Owners: none

Retry save up to 3x when row lock error
  force-app/main/default/classes/ServiceDeliveryRollupsService.cls
  force-app/main/default/classes/ServiceDeliveryTriggerHandler.cls
  force-app/main/default/lwc/serviceDeliveryRow/serviceDeliveryRow.js
Owners: none

added attendance status field to related list
  force-app/main/default/layouts/Contact-Program Management.layout-meta.xml
  force-app/main/default/layouts/ProgramEngagement__c-Program Engagement Layout.layout-meta.xml
  force-app/main/default/layouts/ServiceSession__c-Service Session Layout.layout-meta.xml
  force-app/main/default/layouts/Service__c-Service Layout.layout-meta.xml
Owners: none

Fix failing tests; add some new tests.
  force-app/main/default/classes/RollupRecord.cls
  force-app/main/default/classes/RollupRecord_TEST.cls
  force-app/main/default/classes/ServiceDeliveryRollupsService_TEST.cls
Owners: none

increase minimum cci version
  cumulusci.yml
Owners: @SalesforceFoundation/release-engineering-reviewers

Added a unique contact count that will be displayed on the dashboard
  force-app/main/default/reports/ProgramManagementReports/Contacts_Absent_for_Last_Svc_Delivery_qwd.report-meta.xml
  force-app/main/default/reports/ProgramManagementReports/Contacts_with_3_Consecutive_Absences_p3K.report-meta.xml
Owners: none

Update tests and add additional coverage
  force-app/main/default/classes/RollupRecord.cls
  force-app/main/default/classes/RollupRecord_TEST.cls
  force-app/main/default/classes/ServiceDeliveryRollupsService.cls
  force-app/main/default/classes/ServiceDeliveryRollupsService_TEST.cls
  force-app/main/default/classes/ServiceDeliveryTriggerHandler.cls
  force-app/main/default/classes/ServiceDeliveryTriggerHandler_TEST.cls
  force-app/main/default/classes/TestUtil.cls
Owners: none

Setup tests to denable feature gates, off by default in package
  force-app/main/default/classes/ServiceDeliveryTriggerHandler_TEST.cls
Owners: none

Add additional missing tests
  force-app/main/default/classes/ServiceDeliveryRollupsService_TEST.cls
  force-app/main/default/classes/ServiceDeliveryTriggerHandler_TEST.cls
Owners: none

updated attendance status field order
  force-app/main/default/layouts/Contact-Program Management.layout-meta.xml
  force-app/main/default/layouts/ProgramEngagement__c-Program Engagement Layout.layout-meta.xml
  force-app/main/default/layouts/ServiceSession__c-Service Session Layout.layout-meta.xml
  force-app/main/default/layouts/Service__c-Service Layout.layout-meta.xml
Owners: none

remove Communities feature from dev.json
  orgs/dev_exp.json
Owners: none

remove experience cloud settings from dev.json
  orgs/dev.json
Owners: none

update org json orgnames
  orgs/beta.json
  orgs/beta_prerelease.json
  orgs/dev.json
  orgs/dev_exp.json
  orgs/feature.json
  orgs/prerelease.json
  orgs/release.json
Owners: none

add dev_exp to org configs in cumulusci.yml
  cumulusci.yml
Owners: @SalesforceFoundation/release-engineering-reviewers

Cleanup based on PR review
  force-app/main/default/classes/RollupRecord.cls
  force-app/main/default/classes/TestUtil.cls
Owners: none

Updated Storytelling Data
  datasets/mapping.yml
  datasets/sample.sql
Owners: none

Fix negative values edge case
  force-app/main/default/classes/RollupRecord.cls
Owners: none

Fix negative values edge case also when flipping to absent
  force-app/main/default/classes/RollupRecord.cls
Owners: none

We need to still reset the fields when both are at 0
  force-app/main/default/classes/RollupRecord.cls
Owners: none
