Repository SalesforceFoundation/PMM, changes with the owners that .github/CODEOWNERS names for each.
All owners: @SalesforceFoundation/release-engineering-reviewers, @AndersonTarren, @jessicahaas1, @smarovich

Small change to README to create placeholder PR
  README.md
Owners: none

Undo temp change for placehold PR
  README.md
Owners: none

Opt into auto merge
  cumulusci.yml
Owners: @SalesforceFoundation/release-engineering-reviewers

Add service sessions to delete future service sessions robot test
  robot/pmm/resources/pmm.robot
  robot/pmm/tests/browser/ServiceSchedule/delete_future_sessions.robot
Owners: none

updated service provider API name on attendance field set
  robot/pmm/tests/browser/Attendance/update_attendance.robot
Owners: none

Validate deletion of service session
  robot/pmm/tests/browser/ServiceSchedule/delete_future_sessions.robot
Owners: none

Update delete_future_sessions.robot
  robot/pmm/tests/browser/ServiceSchedule/delete_future_sessions.robot
Owners: none

fixed locator for dialog header
  robot/pmm/resources/locators_52.py
Owners: @SalesforceFoundation/release-engineering-reviewers

Fix indentation
  cumulusci.yml
Owners: @SalesforceFoundation/release-engineering-reviewers

[PMM] Updating release org shape
  orgs/release.json
Owners: none

Formula Updates for Attendance
  force-app/main/default/objects/Contact/fields/AttendanceRate__c.field-meta.xml
  force-app/main/default/objects/ProgramEngagement__c/fields/AttendanceRate__c.field-meta.xml
  force-app/main/default/objects/ServiceSession__c/fields/AttendanceRate__c.field-meta.xml
  force-app/main/default/objects/Service__c/fields/AttendanceRate__c.field-meta.xml
Owners: @AndersonTarren, @jessicahaas1, @smarovich

Robot test to validate message on Attendance tab
  robot/pmm/resources/locators_52.py
  robot/pmm/resources/pmm.py
  robot/pmm/tests/browser/Attendance/attendance_tab.robot
Owners: @SalesforceFoundation/release-engineering-reviewers

Fix python formatting
  robot/pmm/resources/BulkServiceDeliveryPageObject.py
  robot/pmm/resources/pmm.py
Owners: @SalesforceFoundation/release-engineering-reviewers

Fix python formatting
  robot/pmm/resources/BulkServiceDeliveryPageObject.py
Owners: @SalesforceFoundation/release-engineering-reviewers

Fix name of attendance feature parameter.
  force-app/main/default/classes/FeatureParameters.cls
  force-app/main/default/classes/FeatureParameters_TEST.cls
Owners: none

Move the query up one level to reduce number of query rows
  force-app/main/default/classes/FeatureParameters.cls
  force-app/main/default/classes/FeatureParameters_TEST.cls
  force-app/main/default/classes/ServiceDeliveryRollupsService.cls
  force-app/main/default/classes/Util.cls
Owners: none

Removing formulaTreatBlanksAs changes
  force-app/main/default/objects/Contact/fields/AttendanceRate__c.field-meta.xml
  force-app/main/default/objects/ProgramEngagement__c/fields/AttendanceRate__c.field-meta.xml
  force-app/main/default/objects/ServiceSession__c/fields/AttendanceRate__c.field-meta.xml
  force-app/main/default/objects/Service__c/fields/AttendanceRate__c.field-meta.xml
Owners: @AndersonTarren, @jessicahaas1, @smarovich

Review Updates
  force-app/main/default/objects/Contact/fields/AttendanceSummary__c.field-meta.xml
  force-app/main/default/objects/ProgramEngagement__c/fields/AttendanceSummary__c.field-meta.xml
  force-app/main/default/objects/ServiceSession__c/fields/AttendanceSummary__c.field-meta.xml
  force-app/main/default/objects/Service__c/fields/AttendanceSummary__c.field-meta.xml
Owners: @AndersonTarren, @jessicahaas1, @smarovich

Add data before push upgrading beta
  cumulusci.yml
Owners: @SalesforceFoundation/release-engineering-reviewers

Undo push to wrong branch
  cumulusci.yml
Owners: @SalesforceFoundation/release-engineering-reviewers

Add data before push upgrading beta
  cumulusci.yml
Owners: @SalesforceFoundation/release-engineering-reviewers

Remove unused code
  force-app/main/default/classes/FeatureParameters.cls
Owners: none

Move data before beta
  cumulusci.yml
Owners: @SalesforceFoundation/release-engineering-reviewers

Restore regression org and add telemetry org flow
  cumulusci.yml
Owners: @SalesforceFoundation/release-engineering-reviewers

Fix extra return
  cumulusci.yml
Owners: @SalesforceFoundation/release-engineering-reviewers

Switch fieldsets on BSDT
  robot/pmm/tests/browser/Bulk_Service_Delivery/bsdt_fieldsets.robot
Owners: none

switching fieldsets on bsdt
  robot/pmm/tests/browser/Bulk_Service_Delivery/bsdt_fieldsets.robot
Owners: none

switch bsdt fieldsets
  robot/pmm/tests/browser/Bulk_Service_Delivery/bsdt_fieldsets.robot
Owners: none

Add active services telemetry
  force-app/main/default/classes/FeatureParameters.cls
  force-app/main/default/classes/FeatureParameters_TEST.cls
  force-app/main/default/featureParameters/ActiveServices.featureParameterInteger-meta.xml
Owners: none

Add active programs with active services telemetry
  force-app/main/default/classes/FeatureParameters.cls
  force-app/main/default/classes/FeatureParameters_TEST.cls
  force-app/main/default/featureParameters/ActiveProgramsWithActiveServices.featureParameterInteger-meta.xml
Owners: none

Added telemetry for active programs with program cohorts
  force-app/main/default/classes/FeatureParameters.cls
  force-app/main/default/classes/FeatureParameters_TEST.cls
  force-app/main/default/featureParameters/ActiveProgramsWithCohorts.featureParameterInteger-meta.xml
Owners: none

Prettify class
  force-app/main/default/classes/FeatureParameters.cls
Owners: none

Prettify test class
  force-app/main/default/classes/FeatureParameters_TEST.cls
Owners: none

Added the contact object metadata to unpackaged dev and also updated the package.xml file to include the contact object
  unpackaged/config/dev/objects/Contact.object-meta.xml
  unpackaged/config/dev/package.xml
Owners: none

added new button on related list
  force-app/main/default/layouts/ProgramCohort__c-Program Cohort Layout.layout-meta.xml
Owners: none

Added namespacing tag to the massquickactions button
  unpackaged/config/dev/objects/Contact.object-meta.xml
Owners: none

Add robot test for new related list button
  robot/pmm/tests/browser/ProgramCohort/Create_Program_Cohort.robot
Owners: none

Removed an extra s from the service object name
  force-app/main/default/classes/FeatureParameters.cls
Owners: none

Modified ACTIVE_PROGRAMS_WITH_ACTIVE_SERVICES feature parameters to use the ActiveProgramsWithActiveServices test
  force-app/main/default/classes/FeatureParameters.cls
  force-app/main/default/classes/FeatureParameters_TEST.cls
Owners: none

fixed a spelling in the test class
  force-app/main/default/classes/FeatureParameters_TEST.cls
Owners: none

.github/CODEOWNERS:

# Python
*.py                  @SalesforceFoundation/release-engineering-reviewers

# CumulusCI
/cumulusci.yml        @SalesforceFoundation/release-engineering-reviewers
/tasks/               @SalesforceFoundation/release-engineering-reviewers

# Packaged Metadata
/force-app/main/default/labels   @AndersonTarren @jessicahaas1 @smarovich
/force-app/main/default/objects  @AndersonTarren @jessicahaas1 @smarovich

# Actions
/.github                @SalesforceFoundation/release-engineering-reviewers
/scripts                @SalesforceFoundation/release-engineering-reviewers
